div {
	width: 100%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
	padding-right: 15px;
}

h1 {
	padding: 20px;
	text-align:center;
	color:blue;
}

h2 {
	color:blue;
	text-align: center;
}

label {
	display: inline-block;
	width: 210px;
	padding-right: 20px;
	margin: 0px;
	text-align: right;
	text-anchor: middle;
}

label.cbx {
	width: 40px;
	padding: 0px;
	margin-left: -4px;
	text-align: left;
}

table {
	padding: 10px;
}

input[type=radio] {
	margin-bottom: 10px;
	padding-bottom: 15px;
}

input[type=text],
input[type=password],
select {
	display: inline-block;
	width: 200px;
}

input[type=radio] {
	margin-left: 5px;
}

input[type=checkbox] {
	margin-right: 0px;
}

input[type=submit] {
	margin: auto;
}

button {
	padding: 8px;
	border-radius: 25px;
}

a.button {
	background-color: rgb(193, 193, 193);
	color: black;
	font-size: 20px;
	font-weight: 600;
	padding: 12px 28px;
	border-radius: 25px;
	text-decoration: none;
}

a.button:hover {
	background-color: green;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

span {
	display: inline-block;
	width: 200px;
	text-align: left;
	margin-bottom: 5px;
}

span.right {
	display: inline-block;
	width: 200px;
	padding-right: 15px;
	text-align: right;
	text-anchor: top;
}

div.box {
	width: 500px;
	border: 2px solid black;
	padding: 5px;
	margin: auto;
	margin-bottom: 20px;
	align-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0px !important;
}

.brag {
	font-size: 18pt;
	font-weight: 600;
}

